* {
  margin: 0 0;
  padding: 0 0;
  font-family: Arial, Helvetica, sans-serif;
  /* text-align: center; */
}
*::selection {
  /* background:var(--red); */
  color: #fff;
}
.heading {
  text-align: center;
  font-size: 40px;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: #f7f7f7;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 1%;
}
.img-responsive {
  width: 100%;
}
.img-curve {
  border-radius: 15px;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-white {
  color: white;
}

.clearfix {
  clear: both;
  float: none;
}

a {
  color: #ff6b81;
  text-decoration: none;
}
a:hover {
  color: #ff4757;
}

.btnn {
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}
.btn-primary {
  background-color: #ff6b81;
  color: white;
  cursor: pointer;
}
.btn-primary:hover {
  color: white;
  background-color: #ff4757;
}
h2 {
  color: #2f3542;
  font-size: 2rem;
  margin-bottom: 2%;
}
h3 {
  font-size: 1.5rem;
}
.float-container {
  position: relative;
}
.float-text {
  position: absolute;
  bottom: 50px;
  left: 40%;
}
fieldset {
  border: 1px solid white;
  margin: 5%;
  padding: 3%;
  border-radius: 5px;
}

/* CSSS for navbar section */

.logo {
  width: 10%;
  float: left;
}
.menu {
  line-height: 60px;
}
.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline;
  padding: 1%;
  font-weight: bold;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  /* background: rgb(30, 30, 40); */
  background: #d9a7c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fffcdc,
    #d9a7c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fffcdc,
    #d9a7c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #cc4949;
}

/* textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
} */
.input-field {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.input-field:hover {
  cursor: pointer;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #d9a7c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fffcdc,
    #d9a7c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #d9a7c7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container.fade-out {
  top: -120%;
}

#contact a {
  color: #ff514e;
  margin: 10px;
}

#contact {
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 180px;
  color: white;
  text-align: center;
  background-color: #ff514e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 104px; */
}
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

#icon {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s, box-shadow 0.5s;
  box-shadow: 0 2px 3px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);
}

#icon-container {
  display: flex;
  justify-content: center;
}

#icon:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 5px 5px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%);
}

#contact p {
  font-size: 14px;
}

@media screen and (max-width: 426px) {
  #icon {
    width: 30px;
    height: 30px;
  }

  ul li {
    font-size: 12px;
  }

  #contact p {
    font-size: 10px;
  }
}

@media screen and (min-width: 2560px) {
  #icon {
    width: 50px;
    height: 50px;
  }

  ul li {
    font-size: 20px;
  }

  #contact p {
    font-size: 16px;
  }
}
